<script src="../static/js/outfit.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% extends "base.html" %}
{% block content %}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>

    </style>
</head>

<body>

  <div class="card-wrapper">


    <div class="card">
        <h1 class="center">Outfits</h1>

        <div class="center">

            <form method="post">

                <fieldset id="weather">
                    <h3> Step 1/3: Would you like to include the weather predictions?</h3>
                    <input type="radio" name="weather" id="yes" value="yes"> Yes </input>
                    <input type="radio" name="weather" id="no" value="no"> No </input>
                </fieldset>


                  <fieldset id="city">
                      <h3 >For which city?</h3>
                	<input type="radio" name="city" id= city_1 value={{ city1.city}}> {{city1.city}}</input>
					<input type="radio" name="city" id= city_2 value={{ city2.city}}> {{city2.city}}</input>
                	<input type="radio" name="city" id= city_3 value={{ city3.city}}> {{ city3.city }}</input>
                  </fieldset>


                <fieldset id="events">
                   <h3> Step 2/3: Choose an event where are you intending to wear this outfit:</h3>
                    <input type="radio" name="events" id="event" value="event"> Event </input>
				    <input type="radio" name="events" id="walk" value="walk"> Walk </input>
					<input type="radio" name="events" id="work" value="work"> Work </input>
				    <input type="radio" name="events" id="travel" value="travel"> Travel </input>
                  </fieldset>

                <input type="submit" name="submit_button"  value="Submit"  class="btn btn--secondary">
            </form>

              </div>
    </div>


    <div class="card">
        <div class="center">
           <h2 class="center">ToolBox</h2>
            <a href ="/wardrobe" class="btn btn--secondary">Add to wardrobe </a>
            <a href ="/wardrobe/all" class="btn btn--secondary">View your wardrobe</a>
            <a href ="/dashboard" class="btn btn--secondary">Back to Dashboard</a>
            <a href="/user/signout" class="btn btn-secondary">Sign Out</a>
      </div>
    </div>


      <div class="card">
             <div class="center">

                 <h2  id="textDisplay1" class="center">{{ session['user']['name'] }}, check our top 3 picks </h2>

                 <h3 id="textDisplay2">Step 3/3: Pick your favorite outfit:</h3>
                 <form name="options"  method="post" >

                     <input type="radio" name="options" id="piece1" value="piece1">
                        <h2>outfit 1</h2>
                        {% for clothes in outfit1 %}
                        <h2>{{clothes.label}}:</h2>
                            <img src= {{clothes.file_path}} >
                        {% endfor %}
                     </input><br>


                      <input type="radio" name="options" id="piece2" value="piece2">
                      <h2>outfit 2</h2>
                      {% for clothes in outfit2 %}
                            <h2>{{clothes.label}}:</h2>
                            <img src= {{clothes.file_path}} >
                         {% endfor %}
                     </input><br>

                     <input type="radio" name="options" id="piece3" value="piece3">

                        <h2>outfit 3</h2>
                        {% for clothes in outfit3 %}
                                <h2>{{clothes.label}}:</h2>
                                <img src= {{clothes.file_path}} >
                             {% endfor %}
                       </input><br>
                    <input type="submit" name="submit_button_2" value="Save" class ="btn btn--secondary">

                    </form>




        </div>


    </div>


{% endblock %}

    </div>
 </div>
</body>