<!DOCTYPE html>

<script src="../static/js/scripts.js"></script>{% extends "base.html" %}

{% block content %}

<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}


</style>
<head>

</head>
<body>
<div class="card-wrapper">

  <div class="card">
        <div class="right">
           <h2 class="center">ToolBox</h2>
            <a href ="/dashboard" class="btn btn--secondary">Back to dashboard </a>
            <a href ="/wardrobe" class="btn btn--secondary">Add to wardrobe </a>
            <a href ="/outfit/day" class="btn btn--secondary">Generate outfits</a>
            <a href ="/wardrobe/all" class="btn btn--secondary">View your wardrobe</a>
      </div>
  </div>


<div class="card_display">
<h2 class="left" >Your favorite outfits</h2>
<table class="left">
	<tr>
		<th>OutfitNo</th>
		<th>Label</th>
		<th>Attribute</th>
		<th>Picture</th>
	</tr>


	{% for doc in wardrobes %}
	<tr>
		<td>{{doc.outfitNo}} </td>
		{% for item in doc['outfit'] %}
		<tr>
				<td>{{ item.label}} </td>
				<td>{{ item.attribute }} </td>
				<td> <img src= {{item.file_path}} > </td>
		</tr>
		{% endfor %}
	</tr>
	{% endfor %}
</table>
	   </div>

</div>



	</body>
</html>

{% endblock %}