<!DOCTYPE html>

<script src="../static/js/scripts.js"></script>{% extends "base.html" %}

{% block content %}

<html lang="en">
<style>
table, th, td {
  border:1px solid black;
}


</style>
<head>

</head>
<body>

<h2 class="center" >Your wardrobe</h2>
<table class="center">
	<tr>
		<th>Label</th>
		<th>Color</th>
		<th>Picture</th>
	</tr>
	{% for item in wardrobes %}
	<tr >
		<td>{{ item.label }} </td>
		<td>{{ item.color }} </td>
		<td> <img src= {{item.file_path}} height="200px" width="200px" > </td>
	</tr>
	{% endfor %}
</table>

</body>
</html>

{% endblock %}